body{
    font-family: 'Roboto', sans-serif !important;
    min-height: 100vh;
    opacity:0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.green_gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#35debe+0,2dccdf+100 */
    background: #35debe; /* Old browsers */
    background: -moz-linear-gradient(45deg, #35debe 0%, #2dccdf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #35debe 0%,#2dccdf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #35debe 0%,#2dccdf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35debe', endColorstr='#2dccdf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    height: 4px;
    display: block;
}
nav{
    background-image: none!important;
    background-color: white!important;
    border-style: none;
    border-image: initial!important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.navbar{
    margin-bottom: 0;
    border-color: transparent;
}

@media (min-width: 768px){
    .navbar-collapse.collapse {
        display: none !important;
    }
}

@media (max-width: 1200px){
    .todaysDate{
        font-size: 18px !important;
    }
}
ul.nav.navbar-nav li a{
    background-image: none;
}

ul.nav.navbar-nav li.active a{
    background-image: -webkit-linear-gradient(left,#35debe 0,#2dccdf 100%);
    background-image: -o-linear-gradient(left,#35debe 0,#2dccdf 100%);
    background-color: #35debe;
    color: white !important;
}
.navbar-collapse{
    margin-top: 5px;
}
.be-top-header .navbar-nav > li.dropdown .dropdown-menu {
    border-radius: 3px;
    margin-top: 12px;
}
.be-top-header .navbar-nav > li > a {
    line-height: 60px;
    color: #5a5a5a;
    font-size: 14px;
    padding: 0 18px;
    outline: none;
}
.be-icons-nav > li.dropdown .dropdown-menu {
    width: 300px;
    border-radius: 3px;
    padding: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #e0e0e0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 20px;
}
.be-icons-nav > li.dropdown .dropdown-menu .title {
    font-size: 13px;
    color: #8a8a8a;
    text-align: center;
    padding: 10px 0 8px;
    border-bottom: 1px solid #ebebeb;
}
.be-notifications .be-scroller {
    position: relative;
    height: 222px;
}
.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}
.be-notifications .be-scroller > .content > ul {
    list-style: none;
    padding-left: 0;
}

.be-notifications .notification {
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
}
.be-notifications .notification.notification-unread {
    background-color: rgba(66, 133, 244, 0.1);
    border-bottom: 1px solid rgba(66, 133, 244, 0.1);
}
.be-notifications .notification > a {
    padding: 15px;
    display: block;
    overflow: hidden;
}
.be-notifications .notification.notification-unread > a {
    position: relative;
}
.be-notifications .notification > a .image {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: #e4e4e4;
    float: left;
    text-align: center;
    overflow: hidden;
}
.be-notifications .notification > a:hover{
    text-decoration: none;
}
.be-notifications .notification > a .notification-info {
    padding-left: 50px;
    line-height: 14px;
}
.be-notifications .notification > a .image img {
    height: 38px;
    width: 38px;
    font-size: 25px;
    color: #979595;
    line-height: 36px;
}
.be-notifications .notification > a .notification-info .text {
    font-weight: 500;
    color: #8a8a8a;
    font-size: 12px;
    line-height: 16px;
}
.be-notifications .notification > a .notification-info .date {
    color: #8a8a8a;
    display: block;
    font-size: 9px;
    margin-top: 4px;
    text-transform: uppercase;
}
.be-icons-nav > li.dropdown.open > a:after, .be-icons-nav > li.dropdown.open > a:before {
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -21px;
    content: "";
    display: inline-block;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    z-index: 1001;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e0e0e0;
}
.be-notifications .notification:hover {
    background-color: #4285f4;
}
.be-notifications .notification:hover > a {
    color: #ffffff;
}
.be-notifications .notification:hover > a .notification-info .text, .be-notifications .notification:hover > a .notification-info .date, .be-notifications .notification:hover > a .notification-info .user-name {
    color: #ffffff;
}
.be-icons-nav > li.dropdown .dropdown-menu .footer a {
    background-color: #fafafa;
    font-size: 13px;
    color: #8a8a8a;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ebebeb;
    display: block;
    outline: none;
    text-decoration: none;
}
.navbar-right a{
    font-size: 21px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a:hover{
    background: none;
    background-image: none;
    box-shadow: none;
}
#navbarContainer{
    z-index: 9999;
    position: relative;
}
.left-menu li{
    list-style: none;
}
.left-menu li a{
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
    margin-top: 8px;
    color: #6d6f71 !important;
}
.left-menu li a:hover{
    color: #35debe !important;
    cursor: pointer;
}

.left-menu li.active a{
    color: #2dccdf !important;
}
.daily_agenda .fill{
    height: 26px;
    margin-top: 8px;
    width: 100%;
    background-color: #a2a2a2;
    color: #ffffff;
    padding-left: 8px;
    padding-top: 3px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 100;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.daily_agenda a:hover{
    text-decoration: none;
}

#calendar .fc-event{
    -webkit-transition: all .3s;
    transition: all .3s;
}

.daily_agenda a:hover .fill, #calendar .fc-event:hover{
    background-color: #2dccdf;
    cursor: pointer;
}

.daily_agenda .row{
    margin: 0;
}


/*
takvim
 */
#calendar .fc-header-toolbar{
    border-top:solid 4px #35debe;
    background: white;
    border-radius: 4px;
    padding: 23px 15px;
}


#calendar .fc-left h2{
    font-weight: 100 !important;
    font-size: 22px !important;
    color: #6d6f71 !important;
}
#calendar .fc-button.fc-state-default:focus { outline: none; }

#calendar .fc-button.fc-state-default{
    background: #ffffff!important;
    font-size: 16px!important;
    font-weight: 100;
    color: #6d6f71 !important;
    height: 60px;
    padding: 15px;
    border-bottom: solid 1px #eeeeee;
    border-top: solid 1px #eeeeee;
    box-shadow: none !important;
}

#calendar .fc-button.fc-state-default.fc-state-active{
    background-color: #ffffff!important;
    background-image: none;
    box-shadow: none !important;
    color: #35debe !important;
}

#calendar .fc-view-container{
    background: white !important;
    margin-top: 30px !important;
    border-radius: 6px;
    overflow: hidden !important;
}
#calendar .fc-view.fc-month-view.fc-basic-view{
    border-radius: 6px;
}
#calendar .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{
    border-color: #eeeeee;
}
#calendar .fc-day-header.fc-widget-header{
    font-size:15px;
    color: #6d6f71;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}
#calendar .fc-day-top .fc-day-number{
    font-size: 15px;
    color: #666666;
    margin-right: 3px;
    margin-top: 3px;
}

#calendar .fc-day-top.fc-past .fc-day-number{
    color: #8c8c8d;
}

#calendar .fc-event{
    background-color: #a2a2a2;
    border:none;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#calendar .fc-more{
    color: #2dccdf;
    text-align: center;
    width: 98%;
    display: block;
    margin-top: 10px;
}

#calendar td.fc-today{
    background-color: rgb(231, 253, 255) !important;
}

@media (max-width: 468px){
    #calendar_container{
        padding:0 !important;
    }
}
.nav_tab_containers{
    border-top: solid 4px #35debe;
}
.nav-tabs{
    border: none;
    background-color: white;
    display: inline;
    margin-top: 21px;
    margin-right: 10px;
}

.nav-tabs > li a{
    border-radius: 0;
    border:none;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    color: #6d6f71;
    margin-right: 0;
    padding: 20px;
}
.nav-tabs>li>a:hover{
    border-color: #eeeeee;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #f7f7f7;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #35debe;
    font-size: 14px;
    border:none;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.nav-tabs > li:first-child a, .nav-tabs > li:first-child.active > a{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;

}

.nav-tabs > li:last-child a,.nav-tabs > li:last-child.active > a{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
.nav_tab_containers h3{
    font-size: 15px;
    font-weight: 100;
    color: #6d6f71;
    width: 30%;
    display: block;
    float: left;
    padding-top: 10px;
}
.nav_tab_containers h3 span{
    display: block;
    color: #35debe;
    font-size: 22px;
    margin-top: 2px;
}

